<tr id="<%= dom_id upload %>" class="align-middle">
  <td title="<%= upload.uploaded_at&.to_fs(:oho_dt) %>">
    <%= upload.uploaded_at&.to_fs(:oho_md) %>
  </td>

  <td title="<%= upload.imported_at&.to_fs(:oho_dt) %>">
    <%= upload.imported_at&.to_fs(:oho_md) %>
  </td>

  <td>
    <%= upload.status %>
    <% if upload.error_msg.present? %>
      <br/>
      <span class="badge bg-danger">
        <%= upload.error_msg %>
      </span>
    <% end %>
  </td>

  <td>
    <%= upload.upload_channel %>
  </td>

  <td>
    <%= upload.date_on_report&.strftime("%Y-%m") %>
  </td>

  <td>
    <%= number_to_currency(upload.statement_total) if upload.statement_total.present? %>
  </td>
  <td class="text-center">
    <%= upload.filesize ? upload.filesize / 1024 : "-" %>
  </td>

  <td>
    <%= link_to upload.uploaded_file.filename, upload.uploaded_file if upload.uploaded_file.attached? %>
  </td>

  <td>
    <%= button_to('Delete',
                  royalty_upload_path(upload),
                  class: 'btn btn-warning',
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                 ) if upload.imported_at.blank? %>
  </td>
  <td>
    <%= link_to('(test)',
                royalty_test_upload_path(upload),
                class: 'btn btn-primary') %>
</tr>

