
<div style="max-width: 500px; margin: auto;">
  <h1 class="text-center text-danger mt-5 mb-3">Delete Royalty Upload</h1>
  <p class="text-center">You are about to delete the following upload.</p>

<table class="table w-auto m-auto mb-5">
  <tr>
    <th scope="row">Date on statement</th>
    <td><%= @upload.date_on_report&.strftime("%Y-%m-%d") %></td>
  </tr>

  <tr>
    <th scope="row">Date uploaded</th>
    <td><%= @upload.uploaded_at&.strftime("%Y-%m-%d") %></td>
  </tr>

  <tr>
    <th scope="row">Status</th>
  <td> <%= @upload.status %> </td>
  </tr>

  <tr>
    <th scope="row">Channel</th>
  <td> <%= @upload.upload_channel %> </td>
  </tr>

  <tr>
    <th scope="row">Report period</th>
  <td> <%= @upload.report_period %> </td>
  </tr>

  <tr>
    <th scope="row">Amount</th>
  <td> <%= number_to_currency(@upload.statement_total) if @upload.statement_total.present? %> </td>
  </tr>

</table>

<div class="d-flex justify-content-center gap-5">
  <%= link_to "Cancel", royalty_uploads_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this upload", [ :royalty, @upload ], method: :delete, class: "btn btn-danger" %>
</div>
</div>
