<%= turbo_stream_from upload %>

<tr id="<%= dom_id upload %>" class="align-middle">
  <td>
    <%= upload.date_on_report&.strftime("%Y-%m") %>
  </td>

  <td title="<%= upload.uploaded_at&.to_fs(:oho_dt) %>">
    <%= upload.uploaded_at&.to_fs(:oho_md) %>
  </td>

  <td title="<%= upload.imported_at&.to_fs(:oho_dt) %>">
    <% if upload.imported_at.present? %>
      <%= upload.imported_at&.to_fs(:oho_md) %>
    <% elsif upload.status == Upload::STATUS_UPLOADED %>
        <%= button_to 'Import now',
                  import_royalties_lp_upload_path(upload),
                  class: 'btn btn-success',
                  method: :put,
                  data: { "turbo-method": :put, turbo_confirm: 'This permanently adds royalty information to PIP. Continue? ' }
                 %>

    <% end %>
  </td>

  <td>
    <%= upload.status %>
  </td>

  <td>
    <%= upload.upload_channel %>
  </td>

  <td>
    <%= upload.report_period %>
  </td>

  <td>
    <%= number_to_currency(upload.statement_total) if upload.statement_total.present? %>
  </td>

  <td>
    <!-- link_to upload.uploaded_file.filename, upload.uploaded_file if upload.uploaded_file.attached? -->
    <%= upload.uploaded_file.filename if upload.uploaded_file.attached? %>
  </td>

  <td>

    <%= link_to('Delete',
                  royalties_lp_upload_path(upload),
                  class: 'btn btn-warning',
                  method: :delete,
                  data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
                 ) if upload.imported_at.blank? %>
  </td>
</tr>
<% if upload.error_msg.present? %>
  <tr class="table-warning">
    <td class="table-danger align-middle" colspan="2">Error on previous row</td>
    <td colspan="6" class="">
      <span class="text-dark">
        <%= upload.error_msg.gsub(/\n/, "<br/>").html_safe %>
      </span>
    </td>
  </tr>
<% end %>

