<%
  stmt = ips_statement
  upload = stmt.upload_wrapper
%>

<%= turbo_stream_from ips_statement %>

<tr id="<%= dom_id stmt %>" class="align-middle">
  <td>
    <%= stmt.month_ending %>
  </td>

  <td>
    <%= upload.uploaded_at&.strftime("%Y-%m-%d %H:%M") %>
  </td>
  <% if false %>
month_ending: date, revenue: decimal, gross_sales_total: decimal, gross_returns_total: decimal, net_sales: decimal, expenses: decimal, total_chargebacks: decimal, total_expenses: decimal, net_client_earnings: decimal, created_at: datetime, updated_at: datetime)
  <td title="<%= upload.imported_at&.to_fs(:oho_dt) %>">
    <% if upload.imported_at.present? %>
      <%= upload.imported_at&.to_fs(:oho_md) %>
    <% elsif upload.status == Upload::STATUS_UPLOADED %>
        <%= button_to 'Import now',
                  import_royalties_ips_upload_path(upload),
                  class: 'btn btn-success',
                  method: :put,
                  data: { "turbo-method": :put, turbo_confirm: 'This permanently adds royalty information to PIP. Continue? ' }
                 %>

    <% end %>
  </td>

<% end %>
  <td>
    <%= upload.status %>
  </td>

  <td>
    <%= number_to_currency(stmt.net_client_earnings) %>
  </td>

  <td>
    <!-- link_to upload.uploaded_file.filename, upload.uploaded_file if upload.uploaded_file.attached? -->
    <%= upload.file.filename if upload.file.attached? %>
  </td>

  <td>
    <%= link_to('Delete',
                  royalties_ips_ips_statement_path(stmt),
                  class: 'btn btn-warning',
                  method: :delete,
                  data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
                 ) if stmt.imported_at.blank? %>
  </td>
</tr>
<% if upload.status_message.present? %>
  <tr class="table-warning">
    <td class="table-danger align-middle" colspan="2">Error on previous row</td>
    <td colspan="6" class="">
      <span class="text-dark">
        <%= upload.status_message.gsub(/\n/, "<br/>").html_safe %>
      </span>
    </td>
  </tr>
<% end %>
