<% content_for :title, "IPS Royalty Statements" %>



<div class="mt-5 mb-3 d-flex align-items-start justify-content-between gap-5 border-bottom border-secondary">
  <h1 class="h2">IPS Royalty Statements</h1>

  <div class="align-right py-3 px-5 mb-5 bg-secondary bg-gradient ">
    <%=  bootstrap_form_with(model: @upload_wrapper, url: upload_royalties_ips_ips_statements_path()) do |f| %>
      <%= f.file_field :file, multiple: false, accept: ".xlsx", label: "(download Excel from IQ Statement)" %>
      <%= f.submit "Upload new statement", class: "btn btn-primary mt-1 mb-4" %>
    <% end %>
  </div>
</div>

<%= turbo_stream_from "uploads" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th> Stmt date </th>
      <th> Uploaded </th>
      <th> Imported </th>
      <th> Status </th>
      <th> Channel </th>
      <th> Period </th>
      <th> STMT Total </th>
      <th> Uploaded file </th>
      <th></th>
    </tr>
  </thead>
  <tbody id="upload-list">
    <% @statements.each do |statement| %>
      <%= render statement %>
    <% end %>
  </tbody>
</table>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
