<td class="ps-4">
<%= content["Year"] %>-<%= content["Period"].rjust(2, "0") %>
</td>

<td class="ps-4">
    <%= content["Credit or Charge"] %>
</td>

<td class="ps-4">
  <%= content["Statement Sub-Section"] %><br/>
    <%= content["Transaction Type"] %>
</td>

<td class="ps-4">
    <%= content["Description of Statement"] %>
</td>


