<div id="maybe-show-import-button">
  <% if statement.imported_at? %>
    <table class="table table-sm">
      <tbody>
        <tr>
          <th class="text-secondary ps-0">Revenue:</th>
          <td class="text-end"><%= statement.import_paid_units %></td>
          <td class="text-end"><%= number_to_currency(statement.import_paid_amount) %></td>
        </tr>
        <tr>
          <th class="text-secondary ps-0">Expenses:</th>
          <td class="text-end"><%= statement.import_return_units %></td>
          <td class="text-end"><%= number_to_currency(statement.import_return_amount) %></td>
        </tr>
      </tbody>
    </table>
  <% elsif statement.ready_to_import? %>
    <%= button_to("Import statement",
                  import_royalties_ips_statement_path(statement),
                  class: "btn btn-primary mt-5",
                method: :put,
                data: { turbo_confirm: "Are you sure you want to import this statement?" })
              %>
  <% else %>
    <div class="alert alert-secondary mt-5 pe-4 rounded-end-pill">
      Please upload detail sheets to get this statement ready to import…
    </div>
  <% end%>

</div>


