<%
  stmt = statement
  upload = stmt.upload_wrapper
%>

<tr id="<%= dom_id stmt %>" class="align-middle">
  <td>
          <%= link_to royalties_ips_statement_path(stmt), class: "info-link ps-2" do %>
            <i title="View individual line items" class="bi bi-eye fs-4"></i>
          <% end %>
  </td>

  <td>
    <%= stmt.month_ending %>
  </td>

  <td>
    <%= upload.uploaded_at&.strftime("%Y-%m-%d/%H:%M") %>
  </td>

  <td title="<%= stmt.imported_at&.to_fs(:oho_dt) %>">
    <% if stmt.imported_at.present? %>
      <%= stmt.imported_at&.strftime("%Y-%m-%d/%H:%M") %>
    <% elsif stmt.status == IpsStatement::STATUS_UPLOADED %>
        <%= button_to 'Import now',
                  import_royalties_ips_statement_path(stmt),
                  class: 'btn btn-success',
                  method: :put,
                  data: { "turbo-method": :put, turbo_confirm: 'This permanently adds royalty information to PIP. Continue? ' }
                 %>
    <% elsif stmt.status == IpsStatement::STATUS_INCOMPLETE %>
        <%= link_to 'Add Details',
                  royalties_ips_statement_path(stmt),
                  class: 'btn btn-success'
                 %>
     <% else %>
        <i>initializing</i>
     <% end %>
  </td>

  <td>
    <%= stmt.status %>
  </td>

  <td>
    <%= number_to_currency(stmt.net_client_earnings) %>
  </td>

  <td class="text-end pe-3">
    <% if stmt.status == IpsStatement::STATUS_UPLOADED %>
      <%= render partial: "estimated_royalty", locals: { statement: stmt } %>
    <% end %>
  <td>
    <!-- link_to upload.uploaded_file.filename, upload.uploaded_file if upload.uploaded_file.attached? -->
    <%= upload.file.filename if upload.file.attached? %>
  </td>

  <td>
    <%= link_to('Delete',
                  royalties_ips_statement_path(stmt),
                  class: 'btn btn-warning',
                  method: :delete,
                  data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }
                 ) if stmt.imported_at.blank? %>
  </td>
</tr>
<% errors = OhoError.for_object(statement)
  unless errors.empty? %>
  <tr class="table-warning">
    <td class="table-danger align-middle" colspan="2">Error on previous row</td>
    <td colspan="6" class="">
      <ul>
        <% errors.each do |error| %>
          <li>
            <%= error.message %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
