<%= content_for :title, @detail.detail %>

<h1><%= @detail.detail %></h1>
<h4 class="text-secondary"><%= @statement.month_ending.strftime("%B %Y") %></h4>

<table class="table table-sm w-auto">
  <tr>
    <th>Created:</th><td> <%= @detail.created_at.strftime("%Y-%m-%d %H:%M") %></td></tr>
  </tr>
  <tr>
    <th>Basis for charge:</th><td> <%= number_to_currency(@detail.basis_for_charge) %></td></tr>
  </tr>
  <tr>
    <th>Amount due:</th><td> <%= number_to_currency(@detail.due_this_month) %></td></tr>
  </tr>
</table>

<style>
  .table-sticky, .table-sticky thead, .table-sticky th {
    position: sticky;
    top: 0;
    z-index: 3;
  }
</style>

<table class="table table-sticky" style="display: block; height: 50vh; overflow: auto;">
  <thead class="table-dark"> <!-- style because there's a 1px gap between rows -->
    <tr>
      <th scope="col" class="text-center" style="border-right: 1px solid #777; border-bottom: none" colspan="3">Royalty Info</th>
      <th colspan="100%" class="text-center" style="border-bottom: none">Content Info</th>
    </tr>
    <tr>
      <th scope="col" class=" border-bottom-0">Sku</th>
      <th scope="col" class="text-end border-bottom-0">Qty</th>
      <th class="text-end border-bottom-0 ps-3" style="border-right: 1px solid #777">Value</th>
      <%= render partial: "detail_line_header-#{@content_type}", locals: { detail: @detail } %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "detail_line", collection: @detail.ips_detail_lines, as: :line %>
  </tbody>

</table>

  <div class="">
    <span class="align-baseline pe-4">Back to:</span>
    <%= link_to "Royalties", royalties_ips_statements_path, class: "btn btn-secondary mt-3 align-baseline me-4" %>
    <%= link_to "Statement", royalties_ips_statement_path(@statement), class: "btn btn-secondary mt-3 align-baseline" %>
  </div>


