<%= content_for :title, @detail.detail %>

<h1><%= @detail.detail %></h1>
<h4 class="text-secondary"><%= @statement.month_ending.strftime("%B %Y") %></h4>

<table class="table table-sm w-auto">
  <tr>
    <th>Created:</th><td> <%= @detail.created_at.strftime("%Y-%m-%d %H:%M") %></td></tr>
  </tr>
  <tr>
    <th>Basis for charge:</th><td> <%= number_to_currency(@detail.basis_for_charge) %></td></tr>
  </tr>
  <tr>
    <th>Amount due:</th><td> <%= number_to_currency(@detail.due_this_month) %></td></tr>
  </tr>
</table>


<hr/>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th class="pb-0 border-bottom-0">Transaction</th>
      <th scope="col" class="pb-0 border-bottom-0">Type</th>
      <th scope="col" class="pb-0 border-bottom-0">Sku/</th>
      <th scope="col" colspan="4" class="text-center pb-0 border-start">Customer</th>
      <th scope="col" class="text-center pb-0 border-start" colspan="4">Order</th>
    </tr>
    <tr>
      <th class="pt-0">Date</th>
      <th class="pt-0"></th>
      <th scope="col" class="pt-0">ISBN</th>
      <th scope="col" class="pt-0 border-start">Account No.</th>
      <th scope="col" class="pt-0">Headquarters</th>
      <th scope="col" class="pt-0">PO/claim #</th>
      <th scope="col" class="pt-0">Inv/credit #</th>
      <th scope="col" class="text-end pt-0 border-start">Qty</th>
      <th scope="col" class="text-end pt-0">List price</th>
      <th scope="col" class="text-end pt-0">Discount</th>
      <th scope="col" class="text-end pt-0">Value</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "revenue_line", collection: @detail.ips_revenue_lines, as: :line %>
  </tbody>
</table>

