<%
    def huh(target, prompt="?")
      button_tag(
        type: "button",
        class: "btn btn-primary p-1",
        "data-bs-toggle" => "modal",
        "data-bs-target" => "##{target}",
        style: "line-height: 80%"
      ) do
          prompt
        end
    end

 %>


<section class="mt-4 card">

  <%= render partial: "overall_statement_heading",
    :locals => {
      :page => 1,
      :summary => true,
      :item   => @rs.all_titles
    } %>

  <%= render partial: "overall_statement_summary",
    locals: {
      item: @rs.all_titles,
  } %>
</section>

<section class="card">
  <div class="card-header bg-secondary">
    Payments and Per-Title Breakdown <span class="ms-5 text-secondary-emphasis">(click to expand)</span>
  </div>
  <div class="card-body">
    <div id="royalty-details">
      <%= render(layout: "accordian_item",
                 locals: {
                   icon_name: "piggy-bank",
                   parent: "royalty_details",
                   id: "ptd",
                   page: 1,
                   title: "Royalty payments sent to you through #{@rs.end_of_month}",
                   start_date: nil,
                   end_date: nil,
                   money_amount: nil,
                 }) do %>
        <%= render partial: "paid_to_date", locals: { payments: @rs.payments } %>
      <% end %>

    <% @rs.sku_details.each_with_index do |page, i| %>
      <%= render(layout: "accordian_item",
                 locals: {
                   icon_name: "book",
                   parent: "royalty_details",
                   id: "st-#{i}",
                   page: i+2,
                   title: page.title,
                   start_date: page.start_of_report,
                   end_date: page.end_of_report,
                   money_amount: page.royalty_owed,
                 }) do %>
          <span class="text-warning">
            <%= icon("book") %>
          </span>

          <%= render partial: "single_sku_summary", locals: { item: page, page: i+2 } %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
