<tr id="<%= dom_id(line) %>"
  class="<%= "table-secondary" if line.id == focus_line %>">
  <td class="pe-4"><%= line.invoice_date.strftime("%Y-%m-%d") %></td>
  <td class="pe-4"><%= line.invoice_number %></td>
  <td class="pe-4"><%= line.voucher_id %></td>
  <% if discounts_taken %>
    <td class="text-end pe-4"><%= number_to_currency(line.gross_amount) %></td>
    <td class="text-end pe-4"><%= number_to_currency(line.discount_taken) %></td>
  <% end %>
  <td class="text-end pe-4"><%= number_to_currency(line.gross_amount) %></td>

  <% if line.reconciled? %>
    <td class="text-success text-left pe-4">
      <i class="bi bi-check-circle-fill pe-2" title="Reconciled"></i>
      <% for detail in line.ips_statement_details %>
        <%= link_to(focus_line_royalties_ips_statement_path(
          detail.ips_statement,
          detail,
          anchor: dom_id(detail)
        ), class: "info-link ps-2", title: "View corresponding statement") do %>
        <i class="bi bi-eye fs-4"></i>
      <% end %>
    <% end %>
    </td>
  <% else %>
    <td class="text-secondary text-center pe-4"><i class="bi bi-x-circle" title="Not reconciled"></i></td>
  <% end %>
</tr>
